.header {
    background-color: #fff;
    border-bottom: 3px solid #f5f5f5;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1230px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.header__link {
    text-decoration: none;
    justify-self: center;
    color: #8c7a6a;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    font-family: 'Playfair Display', serif;
}

.header__auth {
    justify-self: end;
}

.auth-form__button {
    font-family: 'Playfair Display', serif;
    color: #e3d6cb;
    background-color: #f6f6f6;
    border: 1px solid #e3d6cb;
    border-radius: 3px;
    padding: 5px 0;
    width: 100px;
    cursor: pointer;
}
