.confirm-content {
    width: 60%;
    margin: 0 auto;
}

.confirm-content__title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #8c7a6a;
    font-size: 24px;
    padding: 40px 0;
    margin: 0;
}

/* 確認画面 */

.table-group  {
    margin: 0 auto;
}

.table-group__inner {
    width: 100%;
}

.table-group__label {
    width: 30%;
    background-color: #baa899;
    color: #fff;
    text-align: left;
    padding: 15px 25px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.table-group__content {
    width: 70%;
    border: 1px solid #baa899;
    padding: 15px 25px;
}

.table-group__text {
    color: #baa899;
    width: 100%;
    margin: 0;
}

.confirm-content__button {
    display: flex;
    width: 20%;
    margin: 50px auto;
    justify-content: space-between;
}

.confirm-content__button--submit {
    background-color: #baa899;
    padding: 5px 30px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.confirm-content__button--correction {
    background-color: #fff;
    padding: 5px 30px;
    color: #baa899;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}